.btn {
    cursor: pointer;
    font-family: inherit;
}
.hero__btn {
    @include font (700, 16, 1.87, 0.06);
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border-radius: 4px;
    border: 0px;
    color: var(--main-btn-text-color);
    background-color: var(--main-btn-background-color);
    &:hover,
    &:focus {
        background-color: var(--studio-hover-color);
        color: var(--main-btn-text-color);
    }
}
.submit-btn {
    @include font (700, 16, 1.87, 0.06);
    width: 200px;
    height: 50px;
    background: var(--third-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
    padding: 5px 15px;
    margin-left: 12px;
    border: solid var(--third-color);
    justify-content: center;
}
.form__btn-close {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    border-radius: 50%;
    background-color: transparent;
    right: 8px;
    top: 8px;

    &:hover,
    &:focus {
        fill: var(--third-color);
        border-color: var(--third-color);
    }
}