.contacts-list {
    display: flex;
    gap: 50px;
    margin-right: 0;
    align-items: center;
}
.contacts-tel,
.contacts-post {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--second-color);
    align-items: center;
    transition-property: color;
}
.nav-contacts-post,
.nav-contacts-tel {
    display: flex;
    padding: 32px 0;
    align-items: center;
}
.contacts-post:hover,
.contacts-post:focus,
.contacts-tel:hover,
.contacts-tel:focus {
    color: var(--third-color);
}
.contacts-post::before {
    background-image: url("../images/envelop.svg");
    background-size: 20px;
}